* {
    font-family: 'Albert Sans', sans-serif;
    margin: 0;
}

body {
    background-color: #d3e1f1;
}
.home {
  display: flex;
  justify-content: center;
  border-radius: 100%;
  margin: 30px 30px 30px 30px;
  height: 32px;
  width: 32px;
  background-color: white;
  transition: all 0.5s ease-out;
  
}

.home:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
}
svg {
  height: 32px;
  width: 18px;
  position: absolute;
}

img {
    width: 256px;
    border-radius: 12px;
    justify-self: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background-color: white;
    border-radius: 24px;
    width: 256px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }

  h2 {
    color: #1d2642;
    font-weight:900;
    font-size: 19px;
    text-align: center;
    padding: 20px 0 20px 0;
    width: 95%;
    text-align: center;
  }

  p {
    color: rgba(149, 157, 165, 1);
    font-weight: 500;
    padding: 0 0 30px 0;
    font-size: 13px;
    width: 85%;
    text-align: center;
  }

   

  .attribution {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  